<section
    class="px-8 py-20"
    style='background: rgb(252,251,247);
        background: -moz-linear-gradient(180deg, rgba(252,251,247,1) 0%, rgba(247,234,225,1) 10%, rgba(247,234,225,1) 90%, rgba(252,251,247,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(252,251,247,1) 0%, rgba(247,234,225,1) 10%, rgba(247,234,225,1) 90%, rgba(252,251,247,1) 100%);
        background: linear-gradient(180deg, rgba(252,251,247,1) 0%, rgba(247,234,225,1) 10%, rgba(247,234,225,1) 90%, rgba(252,251,247,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfbf7",endColorstr="#fcfbf7",GradientType=1);'>
    <div class="flex flex-col justify-center items-center gap-16">
        <div class="flex flex-col justify-center gap-3 max-w-[792px]">
            <h2 class="font-header text-[40px] leading-[48px] text-[#73370D] sm:text-6xl sm:text-center tracking-tight"> Nos animaux à l'honneur </h2>
            <p class="sm:text-center tracking-wider"> Rencontrez les habitants extraordinaires du Zoo d'Arcadia </p>
        </div>
        <div class="flex flex-col justify-center gap-16">
            <div class="flex flex-col content-center gap-5">
                <img src="/images/leonidas-main.webp" alt="Photo de Leonidas" class="aspect-square min-w-[300px] min-h-[300px] object-cover rounded-lg overflow-hidden">
                <div class="flex flex-col gap-3">
                    <div class="flex gap-4 items-end">
                        <svg class="h-10" viewBox="0 0 19 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.28627 0C9.57591 1.69869 10.351 2.83509 10.9787 3.75551C11.4747 4.48275 11.8787 5.07516 11.8787 5.70355C11.8787 7.12727 10.718 8.28143 9.28627 8.28143C7.8545 8.28143 6.69382 7.12727 6.69382 5.70355C6.69382 5.07516 7.09785 4.48275 7.59384 3.75551C8.22158 2.83509 8.99663 1.69869 9.28627 0ZM16.8187 10.1233C16.736 9.01287 16.634 7.64188 17.234 6.02623C16.1323 7.35275 14.8919 7.95004 13.8873 8.43381C13.0935 8.81604 12.4469 9.12741 12.1322 9.67161C11.4191 10.9046 11.8462 12.4834 13.0861 13.198C14.3261 13.9127 15.9093 13.4925 16.6224 12.2595C16.9371 11.7153 16.8839 11.0006 16.8187 10.1233ZM4.71602 8.43407C3.71137 7.9503 2.47099 7.35301 1.36934 6.0265C1.96931 7.64215 1.86729 9.01313 1.78465 10.1236C1.71936 11.0009 1.66618 11.7156 1.98092 12.2598C2.69401 13.4928 4.27725 13.9129 5.5172 13.1983C6.75714 12.4837 7.18425 10.9048 6.47116 9.67187C6.15642 9.12768 5.5098 8.81631 4.71602 8.43407ZM8.53651 12.6945L8.53651 12.6945L0.346271 34.5853C0.178013 35.035 0.0938846 35.2599 0.141034 35.42C0.182117 35.5595 0.281915 35.6743 0.414403 35.7343C0.566452 35.8031 0.800792 35.7509 1.26947 35.6465L5.48739 34.7071L8.72126 39.2846C8.94132 39.5961 9.05135 39.7518 9.18813 39.8068C9.30782 39.8549 9.44149 39.8549 9.56118 39.8068C9.69796 39.7518 9.80799 39.5961 10.028 39.2846L13.2377 34.7413L17.3021 35.6465C17.7708 35.7509 18.0051 35.8031 18.1572 35.7343C18.2897 35.6743 18.3895 35.5595 18.4305 35.42C18.4777 35.2599 18.3936 35.035 18.2253 34.5853L10.0351 12.6945C9.80326 12.075 9.68736 11.7652 9.51894 11.6764C9.37302 11.5995 9.19855 11.5995 9.05263 11.6764C8.8842 11.7652 8.7683 12.075 8.53651 12.6945ZM8.62474 20.479C8.85654 19.8616 8.97245 19.5529 9.14074 19.4643C9.28655 19.3875 9.46083 19.3875 9.60665 19.4643C9.77494 19.5529 9.89084 19.8616 10.1227 20.479L10.9642 22.7205C11.1005 23.0838 11.1687 23.2654 11.1363 23.4107C11.1078 23.5379 11.0309 23.6489 10.9219 23.7202C10.7972 23.8017 10.6032 23.8017 10.2152 23.8017H8.53217C8.14417 23.8017 7.95017 23.8017 7.82551 23.7202C7.71646 23.6489 7.63954 23.5379 7.61113 23.4107C7.57865 23.2654 7.64684 23.0838 7.78322 22.7205L8.62474 20.479Z" fill="#73370D"/>
                        </svg> <!-- Insert a variable Logo -->
                        <h3 class="font-header text-[#73370D] text-3xl tracking-[-0.015em]"> Leonidas </h3>
                    </div>
                    <p class="text-2xl font-bold tracking-[0.04em]"> Lion d'Afrique </p>
                    <p class="tracking-wider"> Roi majestueux des plaines dorées, Leonidas incarne l'esprit indompté de la Savane, captivant les visiteurs de sa présence royale</p>
                </div>
                <div>
                    {{ component('Button', {text: 'Je rencontre Leonidas'}) }}
                </div>
            </div>
            <div class="flex flex-col content-center gap-5">
                <img src="/images/indira-main.webp" alt="Photo de Leonidas" class="aspect-square min-w-[300px] min-h-[300px] object-cover rounded-lg overflow-hidden">
                <div class="flex flex-col gap-3">
                    <div class="flex gap-4 items-end">
                        <svg class="h-10" viewBox="0 0 19 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.28627 0C9.57591 1.69869 10.351 2.83509 10.9787 3.75551C11.4747 4.48275 11.8787 5.07516 11.8787 5.70355C11.8787 7.12727 10.718 8.28143 9.28627 8.28143C7.8545 8.28143 6.69382 7.12727 6.69382 5.70355C6.69382 5.07516 7.09785 4.48275 7.59384 3.75551C8.22158 2.83509 8.99663 1.69869 9.28627 0ZM16.8187 10.1233C16.736 9.01287 16.634 7.64188 17.234 6.02623C16.1323 7.35275 14.8919 7.95004 13.8873 8.43381C13.0935 8.81604 12.4469 9.12741 12.1322 9.67161C11.4191 10.9046 11.8462 12.4834 13.0861 13.198C14.3261 13.9127 15.9093 13.4925 16.6224 12.2595C16.9371 11.7153 16.8839 11.0006 16.8187 10.1233ZM4.71602 8.43407C3.71137 7.9503 2.47099 7.35301 1.36934 6.0265C1.96931 7.64215 1.86729 9.01313 1.78465 10.1236C1.71936 11.0009 1.66618 11.7156 1.98092 12.2598C2.69401 13.4928 4.27725 13.9129 5.5172 13.1983C6.75714 12.4837 7.18425 10.9048 6.47116 9.67187C6.15642 9.12768 5.5098 8.81631 4.71602 8.43407ZM8.53651 12.6945L8.53651 12.6945L0.346271 34.5853C0.178013 35.035 0.0938846 35.2599 0.141034 35.42C0.182117 35.5595 0.281915 35.6743 0.414403 35.7343C0.566452 35.8031 0.800792 35.7509 1.26947 35.6465L5.48739 34.7071L8.72126 39.2846C8.94132 39.5961 9.05135 39.7518 9.18813 39.8068C9.30782 39.8549 9.44149 39.8549 9.56118 39.8068C9.69796 39.7518 9.80799 39.5961 10.028 39.2846L13.2377 34.7413L17.3021 35.6465C17.7708 35.7509 18.0051 35.8031 18.1572 35.7343C18.2897 35.6743 18.3895 35.5595 18.4305 35.42C18.4777 35.2599 18.3936 35.035 18.2253 34.5853L10.0351 12.6945C9.80326 12.075 9.68736 11.7652 9.51894 11.6764C9.37302 11.5995 9.19855 11.5995 9.05263 11.6764C8.8842 11.7652 8.7683 12.075 8.53651 12.6945ZM8.62474 20.479C8.85654 19.8616 8.97245 19.5529 9.14074 19.4643C9.28655 19.3875 9.46083 19.3875 9.60665 19.4643C9.77494 19.5529 9.89084 19.8616 10.1227 20.479L10.9642 22.7205C11.1005 23.0838 11.1687 23.2654 11.1363 23.4107C11.1078 23.5379 11.0309 23.6489 10.9219 23.7202C10.7972 23.8017 10.6032 23.8017 10.2152 23.8017H8.53217C8.14417 23.8017 7.95017 23.8017 7.82551 23.7202C7.71646 23.6489 7.63954 23.5379 7.61113 23.4107C7.57865 23.2654 7.64684 23.0838 7.78322 22.7205L8.62474 20.479Z" fill="#73370D"/>
                        </svg> <!-- Insert a variable Logo -->
                        <h3 class="font-header text-[#73370D] text-3xl tracking-[-0.015em]"> Indira </h3>
                    </div>
                    <p class="text-2xl font-bold tracking-[0.04em]"> Tigre du Bengale </p>
                    <p class="tracking-wider"> Au cœur de notre luxuriante Jungle, Indira rôde avec une force gracieuse, symbole de l'attrait énigmatique de la nature sauvage</p>
                </div>
                <div>
                    {{ component('Button', {text: 'Je rencontre Indira'}) }}
                </div>
            </div>
            <div class="flex flex-col content-center gap-5">
                <img src="/images/aria-main.webp" alt="Photo de Leonidas" class="aspect-square min-w-[300px] min-h-[300px] object-cover rounded-lg overflow-hidden">
                <div class="flex flex-col gap-3">
                    <div class="flex gap-4 items-end">
                        <svg class="h-10" viewBox="0 0 19 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.28627 0C9.57591 1.69869 10.351 2.83509 10.9787 3.75551C11.4747 4.48275 11.8787 5.07516 11.8787 5.70355C11.8787 7.12727 10.718 8.28143 9.28627 8.28143C7.8545 8.28143 6.69382 7.12727 6.69382 5.70355C6.69382 5.07516 7.09785 4.48275 7.59384 3.75551C8.22158 2.83509 8.99663 1.69869 9.28627 0ZM16.8187 10.1233C16.736 9.01287 16.634 7.64188 17.234 6.02623C16.1323 7.35275 14.8919 7.95004 13.8873 8.43381C13.0935 8.81604 12.4469 9.12741 12.1322 9.67161C11.4191 10.9046 11.8462 12.4834 13.0861 13.198C14.3261 13.9127 15.9093 13.4925 16.6224 12.2595C16.9371 11.7153 16.8839 11.0006 16.8187 10.1233ZM4.71602 8.43407C3.71137 7.9503 2.47099 7.35301 1.36934 6.0265C1.96931 7.64215 1.86729 9.01313 1.78465 10.1236C1.71936 11.0009 1.66618 11.7156 1.98092 12.2598C2.69401 13.4928 4.27725 13.9129 5.5172 13.1983C6.75714 12.4837 7.18425 10.9048 6.47116 9.67187C6.15642 9.12768 5.5098 8.81631 4.71602 8.43407ZM8.53651 12.6945L8.53651 12.6945L0.346271 34.5853C0.178013 35.035 0.0938846 35.2599 0.141034 35.42C0.182117 35.5595 0.281915 35.6743 0.414403 35.7343C0.566452 35.8031 0.800792 35.7509 1.26947 35.6465L5.48739 34.7071L8.72126 39.2846C8.94132 39.5961 9.05135 39.7518 9.18813 39.8068C9.30782 39.8549 9.44149 39.8549 9.56118 39.8068C9.69796 39.7518 9.80799 39.5961 10.028 39.2846L13.2377 34.7413L17.3021 35.6465C17.7708 35.7509 18.0051 35.8031 18.1572 35.7343C18.2897 35.6743 18.3895 35.5595 18.4305 35.42C18.4777 35.2599 18.3936 35.035 18.2253 34.5853L10.0351 12.6945C9.80326 12.075 9.68736 11.7652 9.51894 11.6764C9.37302 11.5995 9.19855 11.5995 9.05263 11.6764C8.8842 11.7652 8.7683 12.075 8.53651 12.6945ZM8.62474 20.479C8.85654 19.8616 8.97245 19.5529 9.14074 19.4643C9.28655 19.3875 9.46083 19.3875 9.60665 19.4643C9.77494 19.5529 9.89084 19.8616 10.1227 20.479L10.9642 22.7205C11.1005 23.0838 11.1687 23.2654 11.1363 23.4107C11.1078 23.5379 11.0309 23.6489 10.9219 23.7202C10.7972 23.8017 10.6032 23.8017 10.2152 23.8017H8.53217C8.14417 23.8017 7.95017 23.8017 7.82551 23.7202C7.71646 23.6489 7.63954 23.5379 7.61113 23.4107C7.57865 23.2654 7.64684 23.0838 7.78322 22.7205L8.62474 20.479Z" fill="#73370D"/>
                        </svg> <!-- Insert a variable Logo -->
                        <h3 class="font-header text-[#73370D] text-3xl tracking-[-0.015em]">Aria</h3>
                    </div>
                    <p class="text-2xl font-bold tracking-[0.04em]">Flamant Rose des Caraïbes</p>
                    <p class="tracking-wider">Gracieuse et vibrante, Aria danse au cœur du Marais tranquille, peignant le ciel de rose avec élégance et charme</p>
                </div>
                <div>
                    {{ component('Button', {text: 'Je rencontre Aria'}) }}
                </div>
            </div>
        </div>
    </div>
</section>