<section class="flex flex-col bg-[#1f5906] text-[#FCFBF7] px-8 pt-5 pb-10 gap-5 drop-shadow-[0_-3px_2px_rgba(0,0,0,0.25)]">
    <img
        class="w-[180px] drop-shadow-[0_4px_2px_rgba(0,0,0,0.3)]"
        src="images/logo/zoo_logo_medium_transparent.svg"
        alt="Logo Arcadia">
    <div class="flex flex-col px-2 gap-10 max-w-[1200px]">
        <div class="flex flex-col gap-3">
            <p><span class="text-2xl text-[#FAD5BB] font-bold tracking-[0.04em] ">Adresse</span></p>
            <p>100 Rue de l'Enchanteur Merlin, </br> 35380 Paimpont,</br> Bretagne, FRANCE</p>
        </div>
        <div class="flex flex-col gap-3">
            <p><span class="text-2xl text-[#FAD5BB] font-bold tracking-[0.04em] ">Horaires</span></p>
            <ul class="flex flex-col gap-3">
                <li>
                    Lundi : Fermé
                </li>
                <li>
                    Mardi : 9h - 18h
                </li>
                <li>
                    Mercredi : 9h - 18h
                </li>
                <li>
                    Jeudi : 9h - 18h
                </li>
                <li>
                    Vendredi : 9h - 18h
                </li>
                <li>
                    Samedi : 9h - 18h
                </li>
                <li>
                    Dimanche : 9h - 18h
                </li>
            </ul>
        </div>
        <div class="flex flex-col gap-3">
            <p><span class="text-2xl text-[#FAD5BB] font-bold tracking-[0.04em] "> Explorez </span></p>
            <ul class="flex flex-col gap-3">
                <li>
                    <a href="#">Nos Habitats aménagés</a>
                </li>
                <li>
                    <a href="#">Nos Services</a>
                </li>
                <li>
                    <a href="#">Nos Animaux</a>
                </li>
                <li>
                    <a href="#">Avis des visiteurs</a>
                </li>
                <li>
                    <a href="#">Plus sur Arcadia</a>
                </li>
            </ul>
        </div>
        <div class="flex flex-col gap-3">
            <p><span class="text-2xl text-[#FAD5BB] font-bold tracking-[0.04em] "> Contact </span></p>
            <ul class="flex flex-col gap-3">
                <li>
                    <a href="tel:+337654321">+33 7 65 43 21</a>
                </li>
                <li>
                    <a href="mailto:contact@arcadia-zoo.com">contact@arcadia-zoo.com</a>
                </li>
                <li>
                    <div class="flex pt-2 gap-5">
                        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-facebook-f fa-lg"></i>
                        </a>
                        <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-x-twitter fa-lg"></i>
                        </a>
                        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-instagram fa-lg"></i>
                        </a>
                        <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-linkedin-in fa-lg"></i>
                        </a>
                        <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-youtube fa-lg"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>