<!-- Habitats Section -->
<section 
    class="py-20 flex flex-col justify-center md:py-32"
    style='background: rgb(252,251,247);
        background: -moz-linear-gradient(180deg, rgba(252,251,247,1) 0%, rgba(247,234,225,1) 10%, rgba(247,234,225,1) 90%, rgba(252,251,247,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(252,251,247,1) 0%, rgba(247,234,225,1) 10%, rgba(247,234,225,1) 90%, rgba(252,251,247,1) 100%);
        background: linear-gradient(180deg, rgba(252,251,247,1) 0%, rgba(247,234,225,1) 10%, rgba(247,234,225,1) 90%, rgba(252,251,247,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfbf7",endColorstr="#fcfbf7",GradientType=1);'
    >
    <div class="flex flex-col self-center w-full h-screen pt-20 bg-cover bg-center text-[#FCFBF7] justify-end" style="background-image: url('../../images/zephyr-home.jpg');">
        <div 
            class="flex flex-col space-y-3 px-8 py-20"
            style='background: rgb(0,13,4);
                background: -moz-linear-gradient(180deg, rgba(0,13,4,0) 0%, rgba(0,13,4,0.5088629201680672) 25%, rgba(0,13,4,0.9) 100%);
                background: -webkit-linear-gradient(180deg, rgba(0,13,4,0) 0%, rgba(0,13,4,0.5088629201680672) 25%, rgba(0,13,4,0.9) 100%);
                background: linear-gradient(180deg, rgba(0,13,4,0) 0%, rgba(0,13,4,0.5088629201680672) 25%, rgba(0,13,4,0.9) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000d04",endColorstr="#000d04",GradientType=1);'
        >
            <img class="self-center" src="images/logo/zoo_logo-nobg-sm-40px-jungle-primary.svg" width="20px" alt="Arcadia Logo">
            <h3 class="font-header text-[#FAD5BB] self-center text-[28px] sm:text-[40px] tracking-[0.01em]">Biôme Jungle</h3>
            <p class="self-center text-center text-xl font-semibold tracking-wide">Plongez au cœur de la splendeur verdoyante</p>
            <div class="flex flex-row justify-center pt-5 text-[#FCFBF7]">
                <button>
                    <i class="fas fa-chevron-down text-4xl text-[#FAD5BB]"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="flex justify-center bg-primGreen text-myWhite pt-10 pb-20 px-8 md:pt-16 md:pb-32">
        <div class="flex flex-col w-full max-w-[1200px] justify-center items-center gap-16 md:gap-20">
            <div id="jungle-info" class="flex flex-col items-center gap-8">
                <div class="flex items-center gap-3">
                    <img src="images/logo/zoo_logo-nobg-sm-40px-jungle-primary.svg" width="20px"  alt="Arcadia Logo">
                    <h3 class="font-header text-3xl text-[#FAD5BB]">Jungle</h3>
                </div>
                <p class="md:text-center max-w-[792px]">
                    Voyagez au cœur de notre luxuriant habitat de la Jungle, où les arbres anciens, les animaux fabuleux et le feuillage vibrant créent une tapisserie fascinante.
                </p>
                <div class="flex flex-wrap w-full justify-center gap-5">
                    <img class="aspect-square object-cover min-h-[300px] max-h-[380px]" src="images/habitats-hero.webp" alt="jungle biome picture">
                    <img class="aspect-square object-cover min-h-[300px] max-h-[380px]" src="images/habitat-jungle.webp" alt="jungle biome picture">
                    <img class="aspect-square object-cover min-h-[300px] max-h-[380px]" src="images/jungle-habitat-1.webp" alt="jungle biome picture">
                </div>
            </div>
            <div id="jungle-animals" class="flex flex-col items-center gap-10">
                <h3 class="font-header text-[#FAD5BB] text-3xl md:text-5xl"> Venez à leur rencontre </h3>
                <div class="flex flex-col gap-3">
                    <div class="flex flex-col gap-3 lg:flex-row lg:gap-10">
                        <img src="images/indira.png" class="lg:w-2/3 object-cover" alt="Indira the tiger">
                        <div class="flex flex-col gap-3 lg:w-1/3 lg:justify-center">
                            <div class="flex items-end gap-4">
                                <img src="images/logo/zoo_logo-nobg-sm-40px-jungle-primary.svg" width="20px"  alt="Arcadia Logo">
                                <h4 class="font-header text-3xl text-[#FAD5BB]">Indira</h4>
                            </div>
                            <p class="text-2xl font-bold"> Tigre du Bengale </p>
                            <p> 
                                Au cœur de notre luxuriante Jungle, Indira rôde avec une force gracieuse, symbole de l'attrait énigmatique de la nature sauvage.
                            </p>
                            <button class="text-start text-[#FAD5BB] italic underline underline-offset-4 font-bold px-2"> Détails du vétérinaire ... </button>
                        </div>
                    </div>
                    <div class="flex justify-center lg:w-2/3">
                        <p class="py-3">
                        Indira pèse en ce moment 180 kg, et mesure 2,5 m de long (queue comprise).
                        Nous jugeons son état de santé comme étant excellent. <br>
                        À notre dernière visite, le 22 mai 2024, son régime a été composé de 5kg de viandes variées. <br>
                        Indira présente une santé et une vitalité optimales, sans aucun signe de maladie ou de détresse.
                        </p>
                    </div>
                </div>
                <div class="flex flex-col gap-3">
                    <div class="flex flex-col gap-3 lg:flex-row lg:gap-10">
                        <img src="images/maya.png" class="lg:order-last lg:w-2/3 object-cover" alt="Indira the tiger">
                        <div class="flex flex-col gap-3 lg:w-1/3 lg:justify-center lg:items-end">
                            <div class="flex lg:items-end gap-4">
                                <img src="images/logo/zoo_logo-nobg-sm-40px-jungle-primary.svg" width="20px" alt="Arcadia Logo">
                                <h4 class="font-header text-3xl text-[#FAD5BB]">Maya</h4>
                            </div>
                            <p class="text-2xl font-bold"> Ara Écarlate </p>
                            <p class="lg:text-end"> 
                                Au sein de son habitat de prédilection, Maya virevolte d’arbre en arbre, teintant la jungle de son aura intrépide.
                            </p>
                            <button class="text-start text-[#FAD5BB] italic underline underline-offset-4 font-bold px-2"> Détails du vétérinaire ... </button>
                        </div>
                    </div>
                    <div class="flex self-end lg:w-2/3">
                        <p class="py-3">
                        Maya pèse en ce moment 1 kg, et mesure 0,80 m de long.
                        Nous jugeons Maya comme étant en bonne forme. <br>
                        À notre dernière visite, le 22 mai 2024, son régime a été composé de 150g de Fruits frais, de noix et de graines. <br>
                        L'examen physique de Maya indique qu'elle est globalement en bonne santé et qu'aucune anomalie n'a été détectée.
                        </p>
                    </div>
                </div>
                <div class="flex flex-col gap-3">
                    <div class="flex flex-col gap-3 lg:flex-row lg:gap-10">
                        <img src="images/zephyr.png" class="lg:w-2/3 object-cover" alt="Indira the tiger">
                        <div class="flex flex-col gap-3 lg:w-1/3 lg:justify-center">
                            <div class="flex items-end gap-4">
                                <img src="images/logo/zoo_logo-nobg-sm-40px-jungle-primary.svg" width="20px"  alt="Arcadia Logo">
                                <h4 class="font-header text-3xl text-[#FAD5BB]">Zéphyr</h4>
                            </div>
                            <p class="text-2xl font-bold"> Toucan à Carène </p>
                            <p> 
                                Dans un éclair de plumes irisées, Zéphyr glisse sans effort dans la jungle, son bec singulier symbolisant la beauté exotique et l'harmonie complexe de la forêt tropicale.
                            </p>
                            <button class="text-start text-[#FAD5BB] italic underline underline-offset-4 font-bold px-2"> Détails du vétérinaire ... </button>
                        </div>
                    </div>
                    <div class="flex justify-center lg:w-2/3">
                        <p class="py-3">
                        Zéphyr pèse en ce moment 0,5 kg, et mesure 0,5 m de long.
                        Nous jugeons son état de santé comme étant excellent. <br>
                        À notre dernière visite, le 22 mai 2024, son régime a été composé de 50g de fruits frais et d'insectes. <br>
                        Zéphyr présente un comportement et une apparence physique corrects, ce qui indique qu'il est en bonne santé.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col self-center w-full h-screen pt-20 bg-cover bg-center text-[#FCFBF7] justify-end" style="background-image: url('../../images/lion-biome.webp');">
        <div 
            class="flex flex-col space-y-3 px-8 py-20"
            style='background: rgb(0,13,4);
                background: -moz-linear-gradient(180deg, rgba(0,13,4,0) 0%, rgba(0,13,4,0.5088629201680672) 25%, rgba(0,13,4,0.9) 100%);
                background: -webkit-linear-gradient(180deg, rgba(0,13,4,0) 0%, rgba(0,13,4,0.5088629201680672) 25%, rgba(0,13,4,0.9) 100%);
                background: linear-gradient(180deg, rgba(0,13,4,0) 0%, rgba(0,13,4,0.5088629201680672) 25%, rgba(0,13,4,0.9) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000d04",endColorstr="#000d04",GradientType=1);'
        >
            <img class="self-center" src="images/logo/zoo_logo-nobg-sm-40px-jungle-primary.svg" width="20px" alt="Arcadia Logo">
            <h3 class="font-header text-[#FAD5BB] self-center text-[28px] sm:text-[40px] tracking-[0.01em]">Biôme Savane</h3>
            <p class="self-center text-center text-xl font-semibold tracking-wide">Là où les horizons sans fin rencontrent une beauté indomptée</p>
            <div class="flex flex-row justify-center pt-5 text-[#FCFBF7]">
                <button>
                    <i class="fas fa-chevron-down text-4xl text-[#FAD5BB]"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="flex justify-center bg-savannahBG text-myBlack pt-10 pb-20 px-8 md:pt-16 md:pb-32">
        <div class="flex flex-col w-full max-w-[1200px] justify-center items-center gap-16 md:gap-20">
            <div id="jungle-info" class="flex flex-col items-center gap-8">
                <div class="flex items-center gap-3">
                    <img src="images/logo/zoo_logo-nobg-sm-40px-savannah.svg" width="20px"  alt="Arcadia Logo">
                    <h3 class="font-header text-3xl text-primGreen">Marais</h3>
                </div>
                <p class="md:text-center max-w-[792px]">
                    Explorez notre célèbre savane, où les prairies dorées s'étendent jusqu'à l'horizon et où la faune africaine iconique se promène librement à perte de vue.
                </p>
                <div class="flex flex-wrap w-full justify-center gap-5">
                    <img class="aspect-square object-cover min-h-[300px] max-h-[380px]" src="images/habitats-hero.webp" alt="jungle biome picture">
                    <img class="aspect-square object-cover min-h-[300px] max-h-[380px]" src="images/habitat-jungle.webp" alt="jungle biome picture">
                    <img class="aspect-square object-cover min-h-[300px] max-h-[380px]" src="images/jungle-habitat-1.webp" alt="jungle biome picture">
                </div>
            </div>
            <div id="jungle-animals" class="flex flex-col items-center gap-10">
                <h3 class="font-header text-primGreen text-3xl md:text-5xl"> Venez à leur rencontre </h3>
                <div class="flex flex-col gap-3">
                    <div class="flex flex-col gap-3 lg:flex-row lg:gap-10">
                        <img src="images/leonidas.png" class="lg:w-2/3 object-cover" alt="Indira the tiger">
                        <div class="flex flex-col gap-3 lg:w-1/3 lg:justify-center">
                            <div class="flex items-end gap-4">
                                <img src="images/logo/zoo_logo-nobg-sm-40px-savannah.svg" width="20px"  alt="Arcadia Logo">
                                <h4 class="font-header text-3xl text-primGreen">Leonidas</h4>
                            </div>
                            <p class="text-2xl font-bold"> 	Lion d'Afrique </p>
                            <p> 
                                Dans les vastes étendues de notre savane, Leo règne en maître, incarnant la majesté royale et la puissance sauvage, un véritable monarque des steppes.
                            </p>
                            <button class="text-start text-primGreen italic underline underline-offset-4 font-bold px-2"> Détails du vétérinaire ... </button>
                        </div>
                    </div>
                    <div class="flex justify-center lg:w-2/3">
                        <p class="py-3">
                        Leonidas pèse en ce moment 200 kg, et mesure 2,5 m de long (queue comprise).
                        Nous jugeons son état de santé comme étant excellent. <br>
                        À notre dernière visite, le 22 mai 2024, son régime a été composé de 5kg de viandes variées. <br>
                        Leonidas présente une santé et une vitalité optimales, sans aucun signe de maladie ou de détresse.
                        </p>
                    </div>
                </div>
                <div class="flex flex-col gap-3">
                    <div class="flex flex-col gap-3 lg:flex-row lg:gap-10">
                        <img src="images/grace.png" class="lg:order-last lg:w-2/3 object-cover" alt="Indira the tiger">
                        <div class="flex flex-col gap-3 lg:w-1/3 lg:justify-center lg:items-end">
                            <div class="flex lg:items-end gap-4">
                                <img src="images/logo/zoo_logo-nobg-sm-40px-savannah.svg" width="20px" alt="Arcadia Logo">
                                <h4 class="font-header text-3xl text-primGreen">Grace</h4>
                            </div>
                            <p class="text-2xl font-bold"> Girafe Réticulée </p>
                            <p class="lg:text-end"> 
                                Parcourant gracieusement les plaines de la Savane, la stature élégante et le comportement serein de Grace incarnent la beauté tranquille de notre vaste paysage.
                            </p>
                            <button class="text-start text-primGreen italic underline underline-offset-4 font-bold px-2"> Détails du vétérinaire ... </button>
                        </div>
                    </div>
                    <div class="flex self-end lg:w-2/3">
                        <p class="py-3">
                        Grace pèse en ce moment 900 kg, et mesure 5.50 m de long.
                        Nous jugeons Grace comme étant en bonne forme. <br>
                        À notre dernière visite, le 22 mai 2024, son régime a été composé de 30kg de Fourrage et végétation fraîche. <br>
                        L'examen physique de Grace indique qu'elle est globalement en bonne santé et qu'aucune anomalie n'a été détectée.
                        </p>
                    </div>
                </div>
                <div class="flex flex-col gap-3">
                    <div class="flex flex-col gap-3 lg:flex-row lg:gap-10">
                        <img src="images/ezra.png" class="lg:w-2/3 object-cover" alt="Indira the tiger">
                        <div class="flex flex-col gap-3 lg:w-1/3 lg:justify-center">
                            <div class="flex items-end gap-4">
                                <img src="images/logo/zoo_logo-nobg-sm-40px-savannah.svg" width="20px"  alt="Arcadia Logo">
                                <h4 class="font-header text-3xl text-primGreen">Ezra</h4>
                            </div>
                            <p class="text-2xl font-bold"> Éléphant d'Afrique </p>
                            <p> 
                                Dans un éclair de plumes irisées, Zéphyr glisse sans effort dans la jungle, son bec singulier symbolisant la beauté exotique et l'harmonie complexe de la forêt tropicale.
                            </p>
                            <button class="text-start text-primGreen italic underline underline-offset-4 font-bold px-2"> Détails du vétérinaire ... </button>
                        </div>
                    </div>
                    <div class="flex justify-center lg:w-2/3">
                        <p class="py-3">
                        Ezra pèse en ce moment 4000 kg, et mesure 3.50 m de haut.
                        Nous jugeons son état de santé comme étant excellent. <br>
                        À notre dernière visite, le 22 mai 2024, son régime a été composé de 150kg d'une alimentation variée comprenant des fruits, des légumes et du foin <br>
                        Ezra présente un comportement et une apparence physique corrects, ce qui indique qu'il est en bonne santé.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col self-center w-full h-screen pt-20 bg-cover bg-center text-[#FCFBF7] justify-end" style="background-image: url('../../images/osiris-biome.webp');">
        <div 
            class="flex flex-col space-y-3 px-8 py-20"
            style='background: rgb(0,13,4);
                background: -moz-linear-gradient(180deg, rgba(0,13,4,0) 0%, rgba(0,13,4,0.5088629201680672) 25%, rgba(0,13,4,0.9) 100%);
                background: -webkit-linear-gradient(180deg, rgba(0,13,4,0) 0%, rgba(0,13,4,0.5088629201680672) 25%, rgba(0,13,4,0.9) 100%);
                background: linear-gradient(180deg, rgba(0,13,4,0) 0%, rgba(0,13,4,0.5088629201680672) 25%, rgba(0,13,4,0.9) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000d04",endColorstr="#000d04",GradientType=1);'
        >
            <img class="self-center" src="images/logo/zoo_logo-nobg-sm-40px-jungle-primary.svg" width="20px" alt="Arcadia Logo">
            <h3 class="font-header text-[#FAD5BB] self-center text-[28px] sm:text-[40px] tracking-[0.01em]">Biôme Marais</h3>
            <p class="self-center text-center text-xl font-semibold tracking-wide">Explorez l'équilibre délicat de la nature au cœur du marais</p>
            <div class="flex flex-row justify-center pt-5 text-[#FCFBF7]">
                <button>
                    <i class="fas fa-chevron-down text-4xl text-[#FAD5BB]"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="flex justify-center bg-swampBG text-myBlack pt-10 pb-20 px-8 md:pt-16 md:pb-32">
        <div class="flex flex-col w-full max-w-[1200px] justify-center items-center gap-16 md:gap-20">
            <div id="jungle-info" class="flex flex-col items-center gap-8">
                <div class="flex items-center gap-3">
                    <img src="images/logo/zoo_logo-nobg-sm-40px-marsh.svg" width="20px"  alt="Arcadia Logo">
                    <h3 class="font-header text-3xl text-secBrown">Marais</h3>
                </div>
                <p class="md:text-center max-w-[792px]">
                    Découvrez notre marais paisible, où les eaux sereines reflètent la voûte céleste et où une végétation luxuriante s'épanouit dans un écrin de brume.
                </p>
                <div class="flex flex-wrap w-full justify-center gap-5">
                    <img class="aspect-square object-cover min-h-[300px] max-h-[380px]" src="images/habitats-hero.webp" alt="jungle biome picture">
                    <img class="aspect-square object-cover min-h-[300px] max-h-[380px]" src="images/habitat-jungle.webp" alt="jungle biome picture">
                    <img class="aspect-square object-cover min-h-[300px] max-h-[380px]" src="images/jungle-habitat-1.webp" alt="jungle biome picture">
                </div>
            </div>
            <div id="jungle-animals" class="flex flex-col items-center gap-10">
                <h3 class="font-header text-secBrown text-3xl md:text-5xl"> Venez à leur rencontre </h3>
                <div class="flex flex-col gap-3">
                    <div class="flex flex-col gap-3 lg:flex-row lg:gap-10">
                        <img src="images/aria.png" class="lg:w-2/3 object-cover" alt="Indira the tiger">
                        <div class="flex flex-col gap-3 lg:w-1/3 lg:justify-center">
                            <div class="flex items-end gap-4">
                                <img src="images/logo/zoo_logo-nobg-sm-40px-marsh.svg" width="20px"  alt="Arcadia Logo">
                                <h4 class="font-header text-3xl text-secBrown">Aria</h4>
                            </div>
                            <p class="text-2xl capitalize font-bold"> flamant rose des caraïbes </p>
                            <p> 
                                Dans les eaux tranquilles de notre marais, Aria incarne l'élégance et l'aplomb. Sa forme délicate est une vision de grâce sur la toile de fond du monde marécageux.
                            </p>
                            <button class="text-start text-secBrown italic underline underline-offset-4 font-bold px-2"> Détails du vétérinaire ... </button>
                        </div>
                    </div>
                    <div class="flex justify-center lg:w-2/3">
                        <p class="py-3">
                        Aria pèse en ce moment 3 kg, et mesure 1,2 m de long.
                        Nous jugeons son état de santé comme étant excellent. <br>
                        À notre dernière visite, le 22 mai 2024, son régime a été composé de 400g de crustacés et d'algues. <br>
                        Aria présente une santé et une vitalité optimales, sans aucun signe de maladie ou de détresse.
                        </p>
                    </div>
                </div>
                <div class="flex flex-col gap-3">
                    <div class="flex flex-col gap-3 lg:flex-row lg:gap-10">
                        <img src="images/galen.png" class="lg:order-last lg:w-2/3 object-cover" alt="Indira the tiger">
                        <div class="flex flex-col gap-3 lg:w-1/3 lg:justify-center lg:items-end">
                            <div class="flex lg:items-end gap-4">
                                <img src="images/logo/zoo_logo-nobg-sm-40px-marsh.svg" width="20px" alt="Arcadia Logo">
                                <h4 class="font-header text-3xl text-secBrown">Galen</h4>
                            </div>
                            <p class="text-2xl capitalize font-bold"> cerf de Duvaucel (Barasingha) </p>
                            <p class="lg:text-end"> 
                                Au milieu du havre marécageux, Galen se déplace avec une dignité silencieuse, ses bois se dressant vers le ciel, témoignant de la beauté intemporelle et de la noble résilience du marais.
                            </p>
                            <button class="text-start text-secBrown italic underline underline-offset-4 font-bold px-2"> Détails du vétérinaire ... </button>
                        </div>
                    </div>
                    <div class="flex self-end lg:w-2/3">
                        <p class="py-3">
                        Galen pèse en ce moment 160 kg, et mesure 1,80 m de haut.
                        Nous jugeons Galen comme étant en bonne forme. <br>
                        À notre dernière visite, le 22 mai 2024, son régime a été composé de 20kg de Végétation fraîche et de plantes aquatiques. <br>
                        L'examen physique de Galen indique qu'il est globalement en bonne santé et qu'aucune anomalie n'a été détectée.
                        </p>
                    </div>
                </div>
                <div class="flex flex-col gap-3">
                    <div class="flex flex-col gap-3 lg:flex-row lg:gap-10">
                        <img src="images/osiris.png" class="lg:w-2/3 object-cover" alt="Indira the tiger">
                        <div class="flex flex-col gap-3 lg:w-1/3 lg:justify-center">
                            <div class="flex items-end gap-4">
                                <img src="images/logo/zoo_logo-nobg-sm-40px-marsh.svg" width="20px"  alt="Arcadia Logo">
                                <h4 class="font-header text-3xl text-secBrown">Osiris</h4>
                            </div>
                            <p class="text-2xl capitalize font-bold"> bec-en-sabot du Nil	 </p>
                            <p> 
                                Avec un regard attentif et une grâce silencieuse, Osiris se tient en sentinelle dans le marais, relique vivante d'anciens mystères, sa présence étant un symbole de la nature sauvage du Nil.
                            </p>
                            <button class="text-start text-secBrown italic underline underline-offset-4 font-bold px-2"> Détails du vétérinaire ... </button>
                        </div>
                    </div>
                    <div class="flex justify-center lg:w-2/3">
                        <p class="py-3">
                        Osiris pèse en ce moment 5 kg, et mesure 1.50 m de haut.
                        Nous jugeons son état de santé comme étant excellent. <br>
                        À notre dernière visite, le 22 mai 2024, son régime a été composé de 500g de poissons frais et invertébrés aquatiques <br>
                        Osiris présente un comportement et une apparence physique corrects, ce qui indique qu'il est en bonne santé.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>