<!-- Hero Section -->
<section
    id="hero"
    class="relative overflow-hidden h-[61.8vh] w-screen bg-[url('../../images/habitats-hero.webp')] bg-cover bg-center text-[#FCFBF7] md:bg-bottom"
>
    <div class="flex flex-col items-center justify-center h-full w-full space-y-5 px-12">
        <h1 class="font-header text-5xl leading-[52px] text-center tracking-tight capitalize text-[#FAD5BB] tracking-tight md:text-[76px] md:leading-[80px]">
            Nos Habitats
        </h1>
    </div>
</section>
