<!-- Introduction Section -->
<section
    class="py-20 px-8 sm:px-32 space-y-10 flex flex-col justify-center md:pt-64 md:pb-32"
>
    <div class="space-y-8 max-w-[792px] flex flex-col self-center">
        <h2 class="font-header text-[40px] leading-[48px] text-center text-[#73370D] capitalize sm:text-6xl"> Voyage à travers les royaumes de la nature </h2>
        <p class="">
            Plongez dans les merveilles de la nature en explorant les divers habitats du zoo d'Arcadia. Des vastes prairies de la savane au feuillage luxuriant de la jungle, en passant par la beauté tranquille du marais, chaque écosystème offre un aperçu unique de la riche tapisserie de la vie sur notre planète.
        </p>
        <div class="flex justify-center">
            
    </div>
</section>