<section class="flex flex-col gap-10 px-8 py-20 items-center md:py-32 md:gap-20">
    <div class="flex flex-col max-w-[792px]">
        <h2 class="font-header text-[40px] leading-[48px] text-center text-[#73370D] capitalize sm:text-6xl">
            Besoin de plus d'options de contact ?
        </h2>
    </div>
    <div class="flex flex-col gap-10 justify-center items-center md:flex-row md:items-start md:gap-0">
        <div class="flex flex-col items-center pb-10 gap-3 w-full max-w-[300px] border-b-[1px] border-secBrown md:border-b-0 md:border-r-[1px] md:h-[220px] md:max-w-[340px] md:px-10">
            <div class="text-secBrown flex flex-col items-center gap-3">
                <i class="fa-solid fa-mobile-screen text-5xl"></i>
                <p class="text-2xl text-center">Téléphonez-nous</p>
            </div>
            <div>
                <p class="font-bold text-center">+33 2 10 98 76 <br/> +33 2 34 56 78 </p>
            </div>
        </div>
         <div class="flex flex-col items-center pb-10 gap-3 w-full max-w-[300px] border-b-[1px] border-secBrown md:border-b-0 md:border-r-[1px] md:h-[220px] md:max-w-[340px] md:px-10">
            <div class="text-secBrown flex flex-col items-center gap-3">
                <i class="fa-solid fa-street-view text-5xl"></i>
                <p class="text-2xl text-center">Rencontrez-nous</p>
            </div>
            <div>
                <p class="font-bold text-center">
                    100 Rue de l'Enchanteur Merlin, <br/>
                    35380 Paimpont, <br/>
                    Bretagne, FRANCE
                </p>
            </div>
        </div>
         <div class="flex flex-col items-center pb-10 gap-3 w-full max-w-[300px] md:h-[220px] md:max-w-[340px] md:px-10">
            <div class="text-secBrown flex flex-col items-center gap-3">
                <i class="fa-regular fa-paper-plane text-5xl"></i>
                <p class="text-2xl text-center">Écrivez-nous</p>
            </div>
            <div>
                <p class="font-bold text-center"> contact@arcadia-zoo.com </p>
            </div>
        </div>
    </div>
</section>