<section class="flex py-20 md:py-32 justify-center">
    <div class="flex flex-col px-8 gap-10 max-w-[1200px] items-center justify-center">
        <h2 class="font-header text-[40px] leading-[48px] text-center text-[#73370D] capitalize sm:text-6xl">
            Suivez-nous
        </h2>
        <p class="max-w-[792px] md:text-center">
            Restez connecté avec nous sur les réseaux sociaux pour obtenir les dernières nouvelles, les mises à jour et les offres spéciales
        </p>
        <div class="flex justify-center flex-wrap items-start gap-10">
            <a href="#" class="flex flex-col items-center gap-2 justify-center">
                <i class="fab fa-facebook-f text-primGreen text-3xl"></i>
                <span class="font-bold italic text-center text-primGreen text-lg">Arcadia Zoo</span>
            </a>
            <a href="#" class="flex flex-col items-center gap-2 justify-center">
                <i class="fab fa-twitter text-primGreen text-3xl"></i>
                <span class="font-bold italic text-center text-primGreen text-lg">@ArcadiaZoo</span>
            </a>
            <a href="#" class="flex flex-col items-center gap-2 justify-center">
                <i class="fab fa-instagram text-primGreen text-3xl"></i>
                <span class="font-bold italic text-center text-primGreen text-lg">@ArcadiaZoo</span>
            </a>
            <a href="#" class="flex flex-col items-center gap-2 justify-center">
                <i class="fab fa-youtube text-primGreen text-3xl"></i>
                <span class="font-bold italic text-center text-primGreen text-lg">Arcadia Zoo</span>
            </a>
            <a href="#" class="flex flex-col items-center gap-2 justify-center">
                <i class="fab fa-linkedin-in text-primGreen text-3xl"></i>
                <span class="font-bold italic text-center text-primGreen text-lg">Arcadia Zoo</span>
            </a>
        </div>
    </div>
</section>