<!-- Introduction Section -->
<section
    class="py-20 px-8 sm:px-32 space-y-10 flex flex-col justify-center md:pt-64 md:pb-32"
    style='background: rgb(252,251,247);
            background: -moz-linear-gradient(180deg, rgba(252,251,247,1) 0%, rgba(247,234,225,1) 10%, rgba(247,234,225,1) 90%, rgba(252,251,247,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(252,251,247,1) 0%, rgba(247,234,225,1) 10%, rgba(247,234,225,1) 90%, rgba(252,251,247,1) 100%);
            background: linear-gradient(180deg, rgba(252,251,247,1) 0%, rgba(247,234,225,1) 10%, rgba(247,234,225,1) 90%, rgba(252,251,247,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfbf7",endColorstr="#fcfbf7",GradientType=1);'
>
    <div class="space-y-8 max-w-[792px] flex flex-col self-center">
        <h2 class="font-header text-[40px] leading-[48px] text-center text-[#73370D] capitalize sm:text-6xl"> Enrichissez votre expérience </h2>
        <p class="">
            Célébrez les plaisirs de la nature grâce à nos services soigneusement élaborés au zoo d'Arcadia. Des repas gastronomiques aux visites immersives, chaque expérience reflète notre dévouement à l'excellence et à l'harmonie avec le monde naturel.
        </p>
    </div>
</section>